* {
  margin: 0 auto;
  padding: 0;
}

.center-div {
  background-color: rgb(201, 201, 201);
  width: 50%;
  height: 80%;
  position: absolute;
  left: 25%;
  top: 10%;
  box-shadow: 10px 10px 50px 10px rgb(155, 155, 155);
}

.form-div {
  margin: 0 auto;
  background-color: rgb(214, 214, 214);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.goal-div {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

#app-title {
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 80%;
  text-align: center;
}

#input-box {
  height: 40px;
  width: 30%;
}

#goal-text {
  text-align: middle;
}

#clear-button {
  position: absolute;
  bottom: 0;
  width: 40%;
  left: 30%;
  margin: 0 auto;
}
